In [2]:
import pandas as pd
df = pd.read_csv('Titanic-Dataset-selected.csv')
df.head()

   Survived  Pclass       Age  Sex  Cabin
0         0       3 -0.592481    1    115
1         1       1  0.638789    0     81
2         1       3 -0.284663    0    115
3         1       1  0.407926    0     55
4         0       3  0.407926    1    115

In [4]:
# split data
from sklearn.model_selection import train_test_split

# Split data training dan dan lainnya
# data lainnya, akan kita split lagi menjadi validasi dan testing.
# Rasio yang akan kita gunakan adalah 8:1:1
df_train, df_unseen = train_test_split(df, test_size = 0.2, random_state=0)

# split lagi antara validasi dan testing
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0)

# cek masing-masing ukuran data

print(f'jumlah data asli: {df.shape[0]}')
print(f'jumlah data train: {df_train.shape[0]}')
print(f'jumlah data val: {df_val.shape[0]}')
print(f'jumlah data train: {df_test.shape[0]}')

# cek resiko tiap label
print('============')
print(f'Jumlah label data asli: \n{df.Survived.value_counts()}')
print(f'jumlah label data train: \n{df_train.Survived.value_counts()}')
print(f'jumlah label data val: \n{df_val.Survived.value_counts()}')

jumlah data asli: 891
jumlah data train: 712
jumlah data val: 89
jumlah data train: 90
============
Jumlah label data asli:
Survived
0    549
1    342
Name: count, dtype: int64
jumlah label data train:
Survived
0    439
1    273
Name: count, dtype: int64
jumlah label data val:
Survived
0    53
1    36
Name: count, dtype: int64